<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    <title></title>
  </head>
  <body>
    <h1>Hello this is index.html!</h1>
    <h2>Here are your access records:</h2>
    <div class="djangotwo">
      {% if access_record %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date accessed</th>
        </thead>
        {% for ac in access_record %}
        <tr>
          <td>{{ac.name}}</td>
          <td>{{ac.date}}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No record founds!</p>
      {% endif %}
    </div>
    <h2>This is a picture of django himself!</h2>
    <img src="{% static "images/adrian_holovaty.jpg" %}" alt="Uh oh, didn't show!">
    {{ inset_me }}
  </body>
</html>
